* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(180deg, #0b1220, #0f172a);
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: rgba(30,41,59,0.8);
  backdrop-filter: blur(10px);
}

.logo img {
  height: 40px;
}

nav a {
  color: #cbd5f5;
  margin: 10px;
  text-decoration: none;
}
nav a:hover {
  color: #22c55e;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  color: #94a3b8;
  margin-bottom: 25px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.primary {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
}

.secondary {
  background: linear-gradient(90deg, #22c55e, #16a34a);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px #22c55e;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.stat {
  text-align: center;
}

.stat h2 {
  font-size: 32px;
}

.stat span {
  color: #facc15;
  font-weight: bold;
}.item{
  background:#1e293b;
  border-radius:12px;
  padding:15px;
  position:relative;
  transition:.4s;
}
.item:hover{
  transform:translateY(-8px) scale(1.03);
  box-shadow:0 0 25px #00ff88;
}

/* IMAGE */
.main-img{
  width:100%;
  border-radius:10px;
}

/* PLAYER */
.player-img{
  position:absolute;
  top:10px;
  right:10px;
  width:60px;
  border-radius:8px;
  border:2px solid #00ff88;
}

/* TEXT */
.players{
  display:block;
  margin-top:10px;
  color:#22c55e;
  font-weight:bold;
}

/* TESTIMONIAL */
.review{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  text-align:center;
}
.review:hover{
  box-shadow:0 0 15px #22c55e;
}

/* ANIMATION */
@keyframes fadeIn{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}
